/* Main Page */
body {
  background-color: #fafafa;
  background-image: url(./subtle-prism.svg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0% 20% 0% 20%;
  /* display: flex;
  justify-content: baseline; */
}

/* Text Formatting */
p {
  font: lighter normal 1.875rem/3.25rem "Favorit SSENSE Inter1";
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: -0.05rem;
  text-rendering: optimizeLegibility;
}

a {
  color: #222;
  text-decoration: underline;
  font-weight: 300;
  font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: -0.3rem;
  color: #222;
}

h2 {
  font-family: lighter normal 1.875rem/3.25rem "Favorit SSENSE Inter1";
  font-weight: 800;
  letter-spacing: -0.1rem;
  font-size: 2.8rem;
}

h3 {
  font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02rem;
}

.summary > p {
  font-size: 2rem;
  color: #222;
  line-height: normal;
}

/* Buttons in Intro */
.intro > .summary > p > a {
  display: inline-block;
  padding: 0.2em;
  margin: 0.1em;
  border: 0.01em solid #999;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  color: #222;
  text-align: center;
  transition: all 0.15s;
}

.intro > .summary > p > a:hover {
  color: #999;
  border-color: #222;
}

.intro > .summary > p > a:active {
  color: #fff;
  border-color: #fff;
}

/* Sidebar */
.sidebar {
  color: #222;
  font-weight: 300;
  font-family: plain, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  display: flex;
  justify-content: left;
  top: 20%;
  left: 0;
  position: fixed;
}

.sidebar a:hover {
  color: #fff;
}

/* Card */
[role="contentinfo"] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 50px;
}

/* Footer */
footer {
  background-color: #555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0%;
  width: 60%;
}

footer > a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

footer > a:hover {
  color: black;
}
